parameters:
	level: 1
	paths:
		- src
		- tests
	scanDirectories:
		- ../../includes
		- ../../vendor
		- ../SemanticMediaWiki/includes
		- ../SemanticMediaWiki/src
		- ../Wikibase/repo/includes
		- ../Wikibase/lib/includes
	ignoreErrors:
		- '#Constant .+ not found#'
